<html>
<head>
  <title>Potin !</title>
</head>
<body>
    <h1> Voici le numéro du potin que tu veux : <%= params['id'] %> !</h1>
    <p>
        Son auteur.rice : <%= gossip.auteur %><br/>
        Le juicy secret : <%= gossip.contenu %>
      </p>
      <a href = '/'>Retour à l'acceuil</a>

</body>
</html>
